<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/material-kit.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/logo.png">

  </head>

  <body id="page-top">
    <nav class="navbar fixed-top navbar-expand-lg bg-white">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            {% include svg/lineage.svg %}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div id="navbarNav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/engineering/">Engineering</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/about/">About</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/community/">Community</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/legal/">Legal</a></li>
            <li class="nav-item">
              <a class="nav-link" href="https://status.lineageos.org">{% include svg/open_in_new.svg %} Status</a></li>
            <li class="nav-item">
              <a class="nav-link" href="https://wiki.lineageos.org">{% include svg/open_in_new.svg %} Wiki</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="main" role="main">

      <noscript>
        <div class="no-script">
          <div class="container">
            For full functionality of this site it is necessary to enable JavaScript.
            Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.
          </div>
        </div>
      </noscript>

      {{ content }}
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md footer-logo">
            {% include svg/lineage_logo.svg %}
            <p class="footer-text">
              <b>&copy; 2016 - {{ site.time | date: '%Y' }} The LineageOS Project </b><br />
              Need to get in Contact? Check out <a target="_blank" href="https://www.reddit.com/r/LineageOS/">r/LineageOS!</a> <br />
              Need a Press Kit? Get our <a target="_blank" href="https://docs.google.com/presentation/d/1VmxFrVqkjtNMjZbAcrC4egp8C_So7gjJR3KuxdJfJDo/edit?usp=sharing">Public Brand Guide</a> <br />
              PayPal: <a target="_blank" href="https://paypal.me/LineageOS">paypal.me/LineageOS</a> <br />
              Patreon: <a target="_blank" href="https://patreon.com/LineageOS">patreon.com/LineageOS</a> <br />
              Note: LineageOS LLC is not a 501(c)(3) non-profit, as such donations are not tax-exempt.
            </p>
          </div>
          <div class="col-md">
            <div class="footer-icons">
              {% include footer-icons.html %}
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/js/material-kit.js"></script>
    {% if page.scrolljs %}
    <script>
      var rotation = 0;
      var scrollLoc = $(document).scrollTop();

      $(window).on("scroll", function() {
          var newLoc = $(document).scrollTop();
          var diff = (scrollLoc - newLoc) / 3;
          rotation += diff, scrollLoc = newLoc;
          var rotationStr = "rotate(" + rotation + "deg)";

          $("#rotate-on-scroll").css({
              "-webkit-transform": rotationStr,
              "-moz-transform": rotationStr,
              "transform": rotationStr
          });
      });
    </script>
    {% endif %}

  </body>
</html>
